<div class="login">
  <div class="login-head">
    <p>Forgot Password? </p>
<span>Don't Worry</span>
  </div>

  <form [formGroup]="resetForm" class="login-container">
    <div class="login-box">
      <div class="d-flex flex-row box-error mb-2" *ngIf="this.errorMsg !==''">
        <img class="caution" src="../../assets/caution.svg" alt="caution">
        <span class="error">{{ this.errorMsg }}</span>
      </div>
      <h2>Reset Password</h2>

      <div class="input-fields">
        <label>New Password</label>
        <div class="eye-set">
          <input [type]="showPassword ? 'text' : 'password'" formControlName="newPassword" class="input-fields-in"
            [ngClass]="{'redBorder':resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched}">
          <img *ngIf="!showPassword" class="eye" src="../../assets/svg/eye-close.svg" (click)="togglePassword()" alt="eye-set">
          <img *ngIf="showPassword" class="eye" src="../../assets/svg/eye-open.svg" (click)="togglePassword()" alt="eye">
        </div>
        <span class="error" *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched">
          Please enter a valid password
        </span>
      </div>

      <div class="input-fields">
        <label>Confirm Password</label>
        <div class="eye-set">
          <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" class="input-fields-in"
            [ngClass]="{'redBorder':resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched}">
          <img *ngIf="!showConfirmPassword" class="eye" src="../../assets/svg/eye-close.svg" (click)="toggleConfirmPassword()" alt="eye">
          <img *ngIf="showConfirmPassword" class="eye" src="../../assets/svg/eye-open.svg" (click)="toggleConfirmPassword()" alt="eye">
        </div>
        <span class="error" *ngIf="resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched">
          Please confirm your password
        </span>
      </div>

      <div class="d-flex flex-column justify-content-center align-items-center">
        <button class="login-btn mb-3" (click)="submitReset()">Reset Password</button>
        <span>Remembered your password? <span class="text-blue" (click)="routeToLogin()">Sign in</span></span>
      </div>
    </div>
  </form>
</div>

<!-- Toast Notification -->
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1055;">
  <div
    class="toast border-0 align-items-center show"
    [ngClass]="{'text-bg-success': this.successText, 'text-bg-danger': this.dangerText}"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    *ngIf="showToast"
  >
    <div class="d-flex">
      <div class="toast-body" *ngIf="this.successText !== ''">{{ this.successText }}</div>
      <div class="toast-body" *ngIf="this.dangerText !== ''">{{ this.dangerText }}</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" aria-label="Close" (click)="showToast = false"></button>
    </div>
  </div>
</div>
