<div  id="header" class="d-flex flex-row header justify-content-between align-items-center">
    <div class="d-flex flex-row">
        <div class="logo"> </div>
        <h3 class="brand-name">EarnProjects</h3>
    </div>
    <div class="d-flex flex-rows">
        <div class="d-flex flex-rows justify-content-between">
             <ul id="menu" class="d-flex flex-row space-head">
            <li class="d-flex flex-column cursor-pointer"><span class="head-heading">Home</span><span  class="line"></span></li>
            <li class="d-flex flex-column cursor-pointer"><span class="head-heading">Pricing</span><span class="line"></span></li>
            <li class="d-flex flex-column cursor-pointer  position-relative"><span class="head-heading">Review Your Plan</span><span class="line"></span>
            <!-- <div class="drop-head">
Hello
            </div> -->
            </li>
        </ul>
        </div>
       <div  class="d-flex flex-rows justify-content-between items-center">
        <span class="head-heading cursor-pointer">Log in</span>
         <button class="head-btn">Get Started</button>
       </div>

       
    </div>
</div>