<div id="header" #headerRef class="d-flex flex-row header justify-content-between align-items-center">
    <div class="d-flex flex-row align-items-center cursor-pointer"[routerLink]="['/']">
        <video class="logo" autoplay muted loop
            src="../../assets/images/Orange and Black Partnership Investment Logo.mp4"></video>
        <h3 class="brand-name">EarnProjects</h3>
    </div>

    <div class="d-flex flex-row align-items-center">
        <div class="d-flex flex-row justify-content-between" id="menu">
            <div class="d-flex flex-column cursor-pointer menu-item" (click)="applyClasses('ourPlan')">
                <span class="head-heading">Our Plans</span>
                <span class="line"></span>
            </div>

            <div class="d-flex flex-column cursor-pointer menu-item" (click)="applyClasses('renewPlan')">
                <span class="head-heading">Renew Your Plan</span>
                <span class="line"></span>
            </div>

            <div class="d-flex flex-column cursor-pointer menu-item" (click)="applyClasses('support')">
                <span class="head-heading">Support</span>
                <span class="line"></span>
            </div>
        </div>

        <div class="header-btns d-flex flex-row justify-content-between align-items-center ms-4">
            <span class="expert-btn cursor-pointer">
                <img class="talk-expert" src="../../assets/svg/expert.svg" />Talk to expert
            </span>
            <button class="head-btn" (click)="routeToSignup()">Get Started</button>
        </div>
    </div>
</div>

<!-- ✅ Dropdown Only If show is true -->
<div class="drop-divs" #dropdownRef [ngClass]="{
    'divs-pos-our-plan': this.currentDrop === 'ourPlan',
    'divs-pos-review-plan': this.currentDrop === 'renewPlan',
    'divs-pos-support-plan': this.currentDrop === 'support'
  }" *ngIf="show">
    <div class="drops"*ngFor="let plan of dropDownValues" (click)="performAction(this.currentDrop,plan.Planname)">
        <img [src]="plan.src">
        <div >{{ plan.Planname }}</div>
        
    </div>
</div>