.header {
    height: 5em;
    width: 100%;
    overflow: visible;
    background-color: #fff;
    padding: 2em;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.3s ease-in-out;
    /* background: linear-gradient(to bottom, #f5f3ff, #fff); */

}

.cursor-pointer {
    cursor: pointer;
}

.header.shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 3em;
    width: 3em;
    border-radius: 10px;
    /* background: linear-gradient(to right, #844CF2, #5855EB, #13B2A1); */

}

.head-heading {
    color: rgb(55 65 81 / 1);

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;
    margin: 1em;
}

.head-heading:hover {
    color: #7c3aed;
}

.brand-name {
    color: #7c3aed;
    margin-left: 0.5em;
}

.line {
    height: 0.2em;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.active .line {
    background-color: #7c3aed;
    /* Purple underline */
}

.head-btn {
    padding: 0.7em 2em;

    width: fit-content;
    align-self: center;
    margin-bottom: 1em;
    background-color: rgb(109 40 217 / 1);
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: 500;
}

.head-btn:hover {
    background-color: rgb(91 33 182 / 1);
}







.menu-item-wrapper {
    position: relative;
    display: inline-block;
}


/* .opt-drop{

} */
.expert-btn {
    padding: 0.5em 1em;
    /* height: 2.5em; */
    width: fit-content;
    align-self: center;
    margin-bottom: 1em;
    border: 1px solid grey;
    border-radius: 15px;
    font-weight: 500;
    margin-right: 1em;

}

.header-btns {
    margin-top: 0.5em;
}

.talk-expert {
    height: 1.8em;
    width: 1.8em;
    margin-right: 0.5rem;
}

.drop-divs {
    position: fixed;
    /* Changed from relative to absolute */
    top: 5.1em;
    /* directly below the header */
    z-index: 10000;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: fit-content;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1em;
}

.divs-pos-our-plan {
    left: 46.8em;
}

.divs-pos-review-plan {
   display: none;
}

.divs-pos-support-plan {
    left: 64.1em;
}

.drops {

    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.5em;
    cursor: pointer;
    border-top: 1px solid #ddd;
   
}

.drops div {
    font-size: 1rem;
    line-height: 1.75rem;
    color: rgb(75 85 99 / 1);
     
    
}
.drops div:hover{
   
    color: #7c3aed
    
}
.drops>img{
    height: 1.5em;
    width: 1.5em;
}
