.header {
    height: 5em;
    width: 100%;
    overflow-y: hidden;
    background-color: #fff;
    padding: 2em;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.3s ease-in-out;
    /* background: linear-gradient(to bottom, #f5f3ff, #fff); */

}
.cursor-pointer{
    cursor: pointer;
}

.header.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.logo {
    height: 2.3em;
    width: 2.3em;
    border-radius: 10px;
    background: linear-gradient(to right, #844CF2,#5855EB, #13B2A1);

}

.head-heading {
    color: rgb(55 65 81 / 1);

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;
    margin: 1em;
}

.head-heading:hover {
    color: #7c3aed;
}

.brand-name {
    color: #7c3aed;
    margin-left: 0.5em;
}

.line {
  height: 0.2em;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.active .line {
  background-color: #7c3aed; /* Purple underline */
}

.head-btn {
    padding: 0em 2em;
    height: 2.5em;
    width: fit-content;
    align-self: center;
    margin-bottom: 1em;
    background-color: rgb(109 40 217 / 1);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.head-btn:hover {
    background-color: rgb(91 33 182 / 1);
}
.drop-head{
    position: absolute;
    visibility:hidden;
  height: 3em;
  width: 10em;
  background-color: #7c3aed;
  position: absolute; /* optional for layout */
  z-index: 99;
}
 .li:hover .drop-head{
    visibility: visible;
    display:flex;
    height: 3em;
    width: 3em;
    background-color: #7c3aed;
}