<div class="footer">
    <div class="foot-main">
        <div class="d-flex">
            <div><video src="=../../../../assets/svg/Orange and Black Partnership Investment Logo.mp4"></video>
            <span></span></div>
            <span>Your marketplace for high-quality project leads. Connect, grow, and succeed.</span>
            <div></div>
        </div>
        <div>
            <div>PRODUCT</div>
            <span>Features</span>
            <span>Pricing</span>
            <span>Use Cases</span>
            <span>Roadmap</span>
        </div>
        <div>
             <div>COMPANY</div>
            <span>About</span>
            <span>Team</span>
            <span>Blog</span>
         
        </div>
        <div>
             <div>RESOURCES</div>
            <span>Documentation</span>
            <span>Support</span>
            <span>FAQ</span>
           
        </div>
        <div>
             <div>LEGAL</div>
            <span>Privacy Policy</span>
            <span>Terms of Service</span>
          
            
        </div>
    </div>
    <div class="copyright-foot"> </div>
</div>