<div class="d-flex flex-column whyus">
    <div class="why-heading">
        <h3>Why Choose Our Platform?</h3>
        <span>Get access to verified project leads and grow your career or business.</span>
    </div>
    <div class="why-boxes">
        <div class="why-box">
            <img src="../../assets/svg/verified.svg">
            <span>Verified Projects</span>
            <p>Every lead is thoroughly vetted to ensure quality and authenticity</p>
        </div>
        <div class="why-box">
            <img src="../../assets/svg/timer.svg">
            <span>Flexible Work
            </span>
            <p>Choose projects that match your schedule and expertise</p>
        </div>
        <div class="why-box">
            <img src="../../assets/svg/support.svg">
            <span>Guaranteed Support</span>
            <p>24/7 support to help you succeed with your projects</p>
        </div>
        <div class="why-box">
            <img src="../../assets/svg/growth.svg">
            <span>Growth Opportunities</span>
            <p>Access to training, certifications, and networking events</p>
        </div>
    </div>
</div>