<div class="plans-wrapper">
    <h2 class="plans-title">Your Subscription Plan</h2>
    <div class="plan-card" *ngIf="noData">
        <div class="no-data">
            <img src="=../../../../../assets/svg/empty-folder.svg" alt="no-data">
            <span>🚫 No Active Subscription Found</span>

            <span>
                Get started by subscribing to a plan that unlocks real client projects.
            </span>
            <button class="btn btn-primary" (click)="goToPlans()">Review Our Plans</button>
        </div>
    </div>
    <div class="plan-card" *ngIf="!noData">
        <div class="d-flex justify-content-between flex-row mb-3">
            <div class="plan-top">
                <h3 class="p-heading">{{ userPlanData?.planName }}</h3>
            </div>
            <div class="plan-price">
                <span class="current-price">${{ userPlanData?.fullFormData?.amount}}</span>
                <span class="cut-price" *ngIf="userPlanData?.fullFormData?.discount">
                    <s>${{ userPlanData?.fullFormData?.discount }}</s>
                </span>
            </div>
        </div>
        <div class="plans-alignment">
            <ul class="features-list">
                <li *ngFor="let feature of userPlanData?.features">
                    {{ feature }}
                </li>
            </ul>

            <div class="plan-grad">
                <div class="chart-details">
                    <div style="max-width: 15em;">
                        <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType"
                            [options]="chartOptions">
                        </canvas>
                    </div>
                </div>
            </div>

        </div>


        <div class="meta-info">
            <span>Purchased on: <strong>{{ formatDateToReadable(userPlanData?.paymentDate) }}</strong></span>
            <span>Expiry Date: <strong>{{ formatDateToReadable(userPlanData?.expiryDate) }}</strong></span>
        </div>
    </div>
</div>