<div class="hero">
  <div class="hero-left" >
    <div class="hero-text" >
      <h1>Unlock Your Potential.</h1>
      <h1>
        <span class="gradient-text1">Earn,</span>
        <span class="gradient-text2">Grow,</span>
        <span class="gradient-text4"> and</span>
        <br>
        <span class="gradient-text3">Succeed.</span>
      </h1>
    </div>
    <div class="hero-proj">Real projects | Real Earnings | Real Freedom</div>
    <div>
      <button class="hero-btn">Subscribe Now <img src="assets/svg/right-arrow.svg" /></button>
      <button class="hero-btn1">View Sample Leads</button>
    </div>
    <!-- <div class="hero-botm">No Credit Card Required <span class="dot">.</span> Cancel anytime</div> -->
  </div>

  <div class="hero-right" [@slideInRight]>
    <div class="hero-options student-hero">
      <div class="hero-box-img">
        <img src="../../assets/svg/student.svg" />
      </div>
      <div class="d-flex flex-column">
        <span class="span-hero">For Students</span>
        <span>Gain experience & earn while learning</span>
      </div>
    </div>

    <div class="hero-options prof-hero">
      <div class="hero-box-img" style="background-color: #8183F3;">
        <img src="../../assets/svg/professional.svg" />
      </div>
      <div class="d-flex flex-column">
        <span class="span-hero">For Professionals</span>
        <span>Find high-paying side projects</span>
      </div>
    </div>

    <div class="hero-options agency-hero">
      <div class="hero-box-img" style="background-color: #42C4B5;">
        <img src="../../assets/svg/agency.svg" />
      </div>
      <div class="d-flex flex-column">
        <span class="span-hero">For Agencies</span>
        <span>Scale your business with qualified leads</span>
      </div>
    </div>
  </div>
</div>
