<div class="review-container">
    <div class="review-head">
        <div class="review-title">{{planDetails?.name}}</div>
        <div class="review-desc">"{{planDetails?.description}}"</div>
    </div>
    <div class="review-content">
        <div class="review-warning">
            <div>Review below details before proceeding</div>
            <span>These cannot be changed at a later stage</span>
        </div>
        <div class="review-edits">
            <div *ngIf="fieldData?.plan=='student'" class="plan-alignment">
                <div class="review-edits-title">
                    <div class="box-test">
                        <div class="box-test-head">Name</div>
                        <div class="box-test-foot">{{fieldData?.fullName}}</div>
                    </div>
                    <div class="box-test">
                        <div class="box-test-head">Date of Birth</div>
                        <div class="box-test-foot">{{formatDate(fieldData?.dob)}}</div>
                    </div>
                </div>
                <div class="review-edits-title">
                    <div class="box-test">
                        <div class="box-test-head">Email</div>
                        <div class="box-test-foot">{{fieldData?.email}}</div>
                    </div>
                    <div class="box-test">
                        <div class="box-test-head">Mobile Number</div>
                        <div class="box-test-foot">{{fieldData?.phoneNumber}}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="fieldData?.plan=='professional'" class="plan-alignment">
                <div class="review-edits-title">
                    <div class="box-test">
                        <div class="box-test-head">Name</div>
                        <div class="box-test-foot">{{fieldData?.fullName}}</div>
                    </div>
                    <div class="box-test">
                        <div class="box-test-head">Date of Birth</div>
                        <div class="box-test-foot">{{formatDate(fieldData?.dob)}}</div>
                    </div>
                </div>
                <div class="review-edits-title">
                    <div class="box-test">
                        <div class="box-test-head">Email</div>
                        <div class="box-test-foot">{{fieldData?.email}}</div>
                    </div>
                    <div class="box-test">
                        <div class="box-test-head">Mobile Number</div>
                        <div class="box-test-foot">{{fieldData?.phoneNumber}}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="fieldData?.plan=='agency'" class="plan-alignment">
                <div class="review-edits-title">
                    <div class="box-test">
                        <div class="box-test-head">Agency Name</div>
                        <div class="box-test-foot">{{fieldData?.agencyName}}</div>
                    </div>
                    <div class="box-test">
                        <div class="box-test-head">Website</div>
                        <div class="box-test-foot">{{fieldData?.website}}</div>
                    </div>
                </div>
                <div class="review-edits-title">
                    <div class="box-test">
                        <div class="box-test-head">Location</div>
                        <div class="box-test-foot">{{fieldData?.location}}</div>
                    </div>

                </div>
            </div>
            <!-- Additional Information Section -->
            <div class="review-edits-title">
                <div class="toggle-section">
                    <button class="toggle-header" [ngClass]="{'active-toggle': activeSection === 'additional'}"
                        (click)="toggleSection('additional')">
                        <div>Additional Details</div>
                        <img *ngIf="activeSection !== 'additional'" src="../../assets/svg/low-arrow.svg" alt="arrow"/>
                        <img *ngIf="activeSection === 'additional'" src="../../assets/svg/up-arrow.svg" alt="arrow"/>
                    </button>

                    <div class="toggle-body"
                        [ngClass]="{ 'open': activeSection === 'additional', 'closed': activeSection !== 'additional' }">

                        <!-- 👨‍🎓 Student -->
                        <ng-container *ngIf="fieldData?.plan === 'student'">
                            <div class="gap-review ">Educational Details</div>
                            <div class="grid-3-cols">
                                <div class="review-edits-title gap-review " *ngFor="let f of studentFields">
                                    <div class="box-test">
                                        <div class="box-test-head">{{ f.field }}</div>
                                        <div class="box-test-foot">{{ f.value }}</div>
                                    </div>
                                </div>
                            </div>


                            <div class="gap-review">Preference Details</div>
                            <div class="grid-3-cols">
                                <div class="review-edits-title gap-review" *ngFor="let f of studentFieldsStep2">
                                    <div class="box-test">
                                        <div class="box-test-head">{{ f.field }}</div>
                                        <div class="box-test-foot">{{ f.value }}</div>
                                    </div>
                                </div>
                            </div>

                        </ng-container>

                        <!-- 👨‍💼 Professional -->
                        <ng-container *ngIf="fieldData?.plan === 'professional'">
                            <div class="gap-review">Work Details</div>
                            <div class="grid-3-cols">
                                <div class="review-edits-title gap-review" *ngFor="let f of professionalFields">
                                    <div class="box-test">
                                        <div class="box-test-head">{{ f.field }}</div>
                                        <div class="box-test-foot">{{ f.value }}</div>
                                    </div>
                                </div>
                            </div>


                            <div class="gap-review">Preference Details</div>
                            <div class="grid-3-cols">
                                <div class="review-edits-title gap-review" *ngFor="let f of professionalFieldsStep2">
                                    <div class="box-test">
                                        <div class="box-test-head">{{ f.field }}</div>
                                        <div class="box-test-foot">{{ f.value }}</div>
                                    </div>
                                </div>
                            </div>

                        </ng-container>

                        <!-- 🏢 Agency -->
                        <ng-container *ngIf="fieldData?.plan === 'agency'">

                            <div class="gap-review">Agency Information</div>
                            <div class="grid-3-cols">
                                <div class="review-edits-title gap-review" *ngFor="let f of agencyFields">
                                    <div class="box-test">
                                        <div class="box-test-head">{{ f.field }}</div>
                                        <div class="box-test-foot">{{ f.value }}</div>
                                    </div>
                                </div>
                            </div>


                            <div class="gap-review">Operations & Preferences</div>
                            <div class="grid-3-cols">
                                <div class="review-edits-title gap-review" *ngFor="let f of agencyFieldsStep2">
                                    <div class="box-test">
                                        <div class="box-test-head">{{ f.field }}</div>
                                        <div class="box-test-foot">{{ f.value }}</div>
                                    </div>
                                </div>
                            </div>

                        </ng-container>

                        <!-- 🔖 Plan Details -->
                        <div class="gap-review">Plan Details</div>
                        <div class="grid-3-cols">
                            <div class="review-edits-title gap-review">
                                <div class="box-test">
                                    <div class="box-test-head">Payment Frequency</div>
                                    <div class="box-test-foot">{{fieldData?.paymentFrequency}}</div>
                                </div>

                            </div>
                            <div class="review-edits-title gap-review">
                                <div class="box-test">
                                    <div class="box-test-head">No Of Projects</div>
                                    <div class="box-test-foot">{{fieldData?.noOfProj}}</div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <!-- Declarations Section -->
            <div class="review-edits-title">
                <div class="toggle-section">
                    <button class="toggle-header" [ngClass]="{'active-toggle': activeSection === 'declaration'}"
                        (click)="toggleSection('declaration')">
                        <div>Declarations</div>
                        <img *ngIf="activeSection !== 'declaration'" src="../../assets/svg/low-arrow.svg" alt="arrow"/>
                        <img *ngIf="activeSection === 'declaration'" src="../../assets/svg/up-arrow.svg" alt="arrow"/>
                    </button>

                    <div class="toggle-body"
                        [ngClass]="{ 'open': activeSection === 'declaration', 'closed': activeSection !== 'declaration' }">
                        <!-- Yaha tera custom content for Declarations -->
                        <p class="d-flex flex-row d-step">Get Updates on <img class="w-app-r" alt="wapp"
                                src="../../assets/svg/wapp.svg"> WhatsApp</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="review-agree">
            <input type="checkbox" class="agree-check">
            <div class="review-agree-title">I agree to the <a href="../../assets/files/Terms&Conditions.pdf"
                    download="Terms-and-Conditions.pdf">
                    Terms and Conditions
                </a>
            </div>
        </div>

    </div>
    <div class="review-foot">
        <div class="tot-prem">
            <div class="prem-text">Total Premium</div>
            <div class="prem-num">₹ {{fieldData?.amount}}/-</div>
        </div>
        <div class="rev-btn">
            <button class="rev-b1" (click)="editDetails()">EDIT DETAILS</button>
            <button class="rev-b2">CHECKOUT</button>
        </div>
    </div>
</div>