.login {
    margin-top: 7em;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;

}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: visible;
    margin-bottom: 2em;
    margin-top: 3em;
}

.login-box {
    background: rgba(255, 255, 255, .9);
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    text-align: center;
    width: 35em
}

@media (max-width: 750px) and (min-width:480px){
    .login-box {
        width: 35em !important;
    }

    .login-container {
        padding: 1em !important;
    }
}
@media (max-width:480px) {
     .login-box {
        width: 19em !important;
    }

    .login-container {
        padding: 1em !important;
    }
}

.login-box h2 {
    margin-bottom: 1.5em;
    color: #7C3AED
}

.text-blue {
    color: #0067ff;
    cursor: pointer
}

.redBorder {
    border: 1px solid #e80001 !important
}

.error {
    color: #e80001
}

.input-fields input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px
}

.login-box button {
    background-color: #7C3AED;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 2em;
    width: 80%;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer
}

.login-head {
    text-align: center;
}

.login-head>p {
    font-size: 1.75em;
    line-height: 2rem;
    font-weight: 500;
    color: #374151;
}

.login-head>span {
    font-size: 1.75em;
    line-height: 2rem;
    font-weight: 600;
    color: #0067ff;
    text-align: center;
}

.input-fields>label {
    color: #6D28D9
}

.login-box button:hover {
    background-color: #6D28D9
}

.input-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.caution {
    height: 1.5em;
    width: 1.5em;
    margin-right: 1em;
}

.box-error {
    border: 1px solid #e80001;
    padding: 0.2em 0.5em;
}