<div class="stud-dashboard">
  <div class="sidebar-dash">
    <div class="profile-icon"><img class="dashbord-pic" src="assets/svg/profile-dashboard.svg">
      <span>DASHBOARD</span>
    </div>
    <div class="d-flex flex-column justify-content-between" style="gap: 1.5em;">
      <div class="prof-div"><img src="../../../assets/svg/prof-stud.svg"><span>Profile</span></div>
      <div class="prof-div"><img src="../../../assets/svg/cartPlan.svg"><span>My Plans</span></div>
      <div class="prof-div"><img src="../../../assets/svg/project.svg"><span>My Projects</span></div>
      <div class="prof-div"><img src="../../../assets/svg/money.svg"><span>Bank Details</span></div>
      <div class="prof-div"><img src="../../../assets/svg/settings.svg"><span>Settings</span></div>
    </div>
  </div>
  <div class="main-dash">
    <div class="welcome-div">
      <div>
        Welcome Back! Sunmeet
      </div>
     
    </div>
     <div class="girl-pic">
        <img src="../../../assets/images/girl-removebg-preview.png">
      </div>
  </div>

</div>