.stud-dashboard{
    height: 50em;
    width: 100%;
    background-color: #fff;
    margin-top: 5em;
    display: flex;
    flex-direction: row;
}
.sidebar-dash{
width: 25%;
height: 100%;
background: linear-gradient(to bottom right, #d7c7db, #7C3AED);
}
.main-dash{
    width: 70%;
}

.dashbord-pic {
    height: 3.5em;
    width: 3.5em;
   
}
.profile-icon{
 margin-top: 3em;
 display: flex;
 flex-direction: column;
 gap: 0.3em;
 align-items: center;
}
.prof-div>img{
    height: 2em;
    width: 2em;
}
.profile-icon>span{
    color: white;
    font-size: 1.5em;
    font-weight: 500;
}