<div class="stud-dashboard">
  <div class="sidebar-dash">
    <div class="profile-icon"><img class="dashbord-pic" src="assets/svg/profile-dashboard.svg">
      <span>DASHBOARD</span>
    </div>
    <div class="d-flex flex-column justify-content-between" style="gap: 1.5em;">
      <div class="prof-div" (click)="changeModule('profile')"><img
          src="../../../assets/svg/prof-stud.svg"><span>Profile</span></div>
      <div class="prof-div" (click)="changeModule('plans')"><img src="../../../assets/svg/cartPlan.svg"><span>My
          Plans</span></div>
      <div class="prof-div" (click)="changeModule('projects')"><img src="../../../assets/svg/project.svg"><span>My
          Projects</span></div>
      <div class="prof-div" (click)="changeModule('bank-details')"><img src="../../../assets/svg/money.svg"><span>Bank
          Details</span></div>
      <div class="prof-div" (click)="changeModule('settings')"><img
          src="../../../assets/svg/settings.svg"><span>Settings</span></div>
    </div>
  </div>
  <app-my-dash class="sub-module" *ngIf="this.activePlan=='profile'"></app-my-dash>
  <app-my-plans class="sub-module" *ngIf="this.activePlan=='plan'"></app-my-plans>
  <app-projects class="sub-module" *ngIf="this.activePlan=='projects'"></app-projects>
  <app-bank-details class="sub-module" *ngIf="this.activePlan=='bank-details'"></app-bank-details>
  <app-setting class="sub-module" *ngIf="this.activePlan=='settings'"></app-setting>
</div>