<div class="testimonials">
    <div class="test-div">Testimonials</div>
    <div class="test-head">
        <h3>Trusted by businesses worldwide</h3>
        <span>See what our customers have to say about how our subscription platform has transformed their
            businesses.</span>
    </div>
    <div class="test-cases" *ngIf="testimonials.length > 0">
        <img class="quote" src="../../assets/svg/quote.svg">
        <p [ngClass]="{ 'fade-in': animate }">"{{testimonials[currentTestimonialIndex].message}}"</p>
        <div class="test-data" [ngClass]="{ 'fade-in': animate }">
            <div class="test-img"><img [src]="testimonials[currentTestimonialIndex].photo"
                    alt="{{ testimonials[currentTestimonialIndex].name }}"></div>
            <div class="test-name">
                <h4>{{testimonials[currentTestimonialIndex].name}}</h4>
                <span>{{testimonials[currentTestimonialIndex].role}}</span>
            </div>

        </div>
        <div class="d-flex flex-row justify-content-between">
            <div class="left-arr" (click)=" previousTestimonial()">
                <img src="../../assets/svg/left-arrow.svg">
            </div>
          <div class="dots-test">
  <div
    class="shade-dot"
    *ngFor="let testimonial of testimonials; let i = index"
    [ngClass]="{ 'active-dot': currentTestimonialIndex === i }"
    (click)="goToTestimonial(i)"
  ></div>
</div>

            <div class="right-arr" (click)=" nextTestimonial()">
                <img src="../../assets/svg/right-arrow1.svg">
            </div>
        </div>
    </div>

</div>