<div class="plans">
  <div class="heading">
    <h2>Our Plans</h2>
    <p>Simple, transparent pricing</p>
    <span>Choose the plan that's right for you and start growing your subscription business <br> today.</span>
  </div>

  <div class="cards-align">
    <div class="card" *ngFor="let plan of filteredPlans" [ngClass]="{'popular': plan.popular}">
      <div class="badge" *ngIf="plan.popular">Most Popular</div>

      <div class="card-body">
        <div>
          <h5 class="card-title">{{ plan.name }}</h5>
           <p class="description">{{ plan.description }}</p>
          <h2 class="price">₹{{ plan.price }}</h2>
          <p class="discount">{{ plan.yearlyDiscount }}</p>
         
          <button *ngIf="plan.popular" class="pop-btn">Get Started</button>
           <button *ngIf="!plan.popular"class="cho-btn">Choose Plan</button>
           <span class="spl-features">Features Include</span>
          <ul class="features">
            <li *ngFor="let feature of plan.features">
              <i class="bi bi-check-circle-fill"></i> {{ feature }}
            </li>
          </ul>
        </div>


      </div>
    </div>
  </div>
</div>